.personalprofile{
    background-image: url('../images/1.jpg');
    min-height:100vh;
    color: white;
    height: 120px;
background-repeat: no-repeat;
background-color:pink;
}
.carousel  img{
    height: 70vh;
    width: 100%;
    }
    .carousel h5{
        color:pink;
        font-size: 50px;
        text-transform:uppercase;
    
    }
    .carousel p{
        background-color: crimson;
        padding: 10px;
    }
    .marketingsection i{
        width: 100px;
        height: 100px;
        color: red;
        border:2px solid red ;
        padding:20px;
        border-radius: 40px;
        transition:o.2s linear;
        font-size:32px;
    }
    .personal-interest-bannersection{
        background-image: url('../images/801.jpg');
        background-size:cover;
        min-height: 150px;
        padding: 80px;
        color: black;
        background-color:pink;
    }
.personal-interest-bannersection img{
    height: 250px;
    float: right;
}

.educational-background {
    background-image: url('../images/7.jpg');
    /* opacity: .7; */
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    color: black;
    background-attachment: fixed;
}
.skills-personality{
    background-color:pink;
    /* opacity: .7; */
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    color: black;
    background-attachment: fixed;
}
.skills-personality img{
    height: 250px;
    float: right;
}
